@keyframes isAnimeTextbg {
    0%{
        background-position: 0% 0%;
        background-size: 100% 0%;
    }
    10%{
        background-position: 0% 50%;
        background-size: 100% 40%;
    }
    20%{
        background-position: 0% 50%;
        background-size: 100% 40%;
    }
    30%{
        background-position: 0% 100%;
        background-size: 100% 0%;
    }
   
}

.animate-text-bg{
    animation: isAnimeTextbg 3s ease-in-out infinite;
}
.group:hover .animate-text-bg {
    animation: none;
}